#npm debuggin logs
*.log


#project dependencies
node_modules
public

#OSX hidden folders
.DS_Store
#temp files
*.tmp
*-

#gulp built files on setup process
css/child_theme_styles/child_theme_config.scss
functions.php
configSetup.json

#sftp extension and vscode stuff
*.code-workspace
.vscode
modified_core_files.md

