#top-bar-social li a {
  color: #fff;
}

#top-bar-login a:hover,
.topbar-content .pct-top-tel:hover {
  background-color: #fff;
}

#top-bar-wrap {
  border: 0;
  background-color: var(--main-color);
  color: #fff;
}

#searchform-header-replace input {
  color: var(--main-color);
}

/*------------------------------------------------------------------------------------------------------*
                        BOTONES
\*------------------------------------------------------------------------------------------------------*/
.button,
.button.add_to_cart_button.ajax_add_to_cart,
.button.add_to_cart_button,
.woocommerce ul.products li.product .button {
  background-color: var(--main-color);
  color: #fff;
  border: 0;
}

.woocommerce ul.products li.product .product-inner .added_to_cart {
  background-color: var(--light-grey-color);
  color: #343434;
  border: 0;
}

/*------------------------------------------------------------------------------------------------------*
                        FOOTER
\*------------------------------------------------------------------------------------------------------*/

#footer-bottom {
  color: #fff;
}

/*------------------------------------------------------------------------------------------------------*
                        WOOCOMMERCE
\*------------------------------------------------------------------------------------------------------*/

.amount {
  color: var(--main-color) !important;
}

.woocommerce ul.products li.product li.title a,
.woocommerce .products.grid .title a {
  font-size: 1.2em;
}

/*------------------------------------------------------------------------------------------------------*
                        TABLES
\*------------------------------------------------------------------------------------------------------*/

.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce table.shop_table tth,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce .order_details,
.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals h2,
.woocommerce .cart-collaterals h2,
.woocommerce .cart-collaterals h2,
.woocommerce-cart .cart-collaterals .cart_totals .order-total th,
.woocommerce-cart .cart-collaterals .cart_totals .order-total td,
.woocommerce ul.order_details,
.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th,
.woocommerce .woocommerce-checkout #customer_details h3,
.woocommerce .woocommerce-checkout h3#order_review_heading,
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout form.login,
.woocommerce-checkout form.checkout_coupon,
.woocommerce-checkout-review-order-table tfoot th,
.woocommerce-checkout #payment,
.woocommerce ul.order_details,
.woocommerce #customer_login > div,
.woocommerce .col-1.address,
.woocommerce .col-2.address,
.woocommerce-checkout .woocommerce-info,
.woocommerce div.product form.cart,
.product_meta,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #reviews #comments ol.commentlist li .comment_container,
p.stars span a,
.woocommerce ul.product_list_widget li,
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.product_list_widget li:first-child,
.woocommerce .widget_shopping_cart .cart_list li:first-child,
.woocommerce.widget_shopping_cart .cart_list li:first-child,
.widget_product_categories li a,
.woocommerce .oceanwp-toolbar,
.woocommerce .products.list .product,
table th,
table td,
hr {
  border-color: var(--light-grey-color) !important;
}

/*------------------------------------------------------------------------------------------------------*
            NOTICE OFERTA
\*------------------------------------------------------------------------------------------------------*/

.free-shipping-notice,
.widget_shopping_cart_content .free-shipping-notice {
  background-color: #343434;
  color: #fff;
}

.woocommerce div.product div.summary .price del {
  color: var(--main-color);
}
