form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea,
form .select2-container,
form .select2-hidden-accessible {
  font-size: 1rem !important;
  background-color: #fff;
}

/*------------------------------------------------------------------------------------------------------*
            FORM LOGIN FIX @ CHECKOUT PAGE
\*------------------------------------------------------------------------------------------------------*/
.woocommerce-form-login__rememberme {
  display: none !important;
}

body.woocommerce-checkout .woocommerce-form-login {
  background-color: #fff;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  body.woocommerce-checkout .woocommerce-form-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: end;
  }

  body.woocommerce-checkout .woocommerce-form-login p {
    width: 100%;
    margin-bottom: 0 !important;
  }

  body.woocommerce-checkout .woocommerce-form-login p:first-of-type {
    grid-column: 1/-1;
  }

  .clear {
    display: none;
  }
}
