@font-face {
    font-family: 'pictauicons';
    src: url('icons/pictauicons.woff?wmckq2') format('woff'), url('icons/pictauicons.woff2?wmckq2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='pcticon-'],
[class*=' pcticon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pictauicons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pcticon-bus:before {
    content: '\e900';
}
.pcticon-metro:before {
    content: '\e901';
}
.pcticon-auto:before {
    content: '\e902';
}
.pcticon-chevron_dch:before {
    content: '\e903';
}
.pcticon-instagram1:before {
    content: '\e906';
}
.pcticon-youtube:before {
    content: '\e907';
}
.pcticon-search:before {
    content: '\f002';
}
.pcticon-heart:before {
    content: '\f004';
}
.pcticon-th:before {
    content: '\f00a';
}
.pcticon-ok:before {
    content: '\f00c';
}
.pcticon-cog:before {
    content: '\f013';
}
.pcticon-check:before {
    content: '\f046';
}
.pcticon-chevron_left:before {
    content: '\f053';
}
.pcticon-chevron_right:before {
    content: '\f054';
}
.pcticon-check-circle:before {
    content: '\f058';
}
.pcticon-info-circle:before {
    content: '\f05a';
}
.pcticon-exclamation_sign:before {
    content: '\f06a';
}
.pcticon-gift:before {
    content: '\f06b';
}
.pcticon-magnet:before {
    content: '\f076';
}
.pcticon-chevron_down:before {
    content: '\f078';
}
.pcticon-bar_chart:before {
    content: '\f080';
}
.pcticon-key:before {
    content: '\f084';
}
.pcticon-comments:before {
    content: '\f086';
}
.pcticon-thumbs_up_alt:before {
    content: '\f087';
}
.pcticon-phone:before {
    content: '\f095';
}
.pcticon-check_empty:before {
    content: '\f096';
}
.pcticon-twitter_sign:before {
    content: '\f099';
}
.pcticon-facebook_sign:before {
    content: '\f09a';
}
.pcticon-credit_card:before {
    content: '\f09d';
}
.pcticon-bullhorn:before {
    content: '\f0a1';
}
.pcticon-envelope_alt:before {
    content: '\f0e0';
}
.pcticon-linkedin_sign:before {
    content: '\f0e1';
}
.pcticon-tablet:before {
    content: '\f10a';
}
.pcticon-circle-o:before {
    content: '\f10c';
}
.pcticon-circle:before {
    content: '\f111';
}
.pcticon-youtube-play:before {
    content: '\f16a';
}
.pcticon-instagram:before {
    content: '\f16d';
}
.pcticon-circle-thin:before {
    content: '\f1db';
}
