#logo-container-mobile {
  padding: 16px 36px;
}

footer .footer-last p {
  font-family: var(--defautl-alt-font-family);
  font-size: 0.85rem !important;
  letter-spacing: 1px;
}

footer .site-info a {
  text-decoration: none;
}
