#pct-slider {
  background-color: var(--main-color);
  height: calc(100px + 30vw);
  width: 100%;
  background-size: cover;
  padding: calc(1rem + 4.5vw);
  color: #fff;
  display: flex;
  align-items: center;
  font-family: var(--def-font-family);
}

@media only screen and (max-width: 550px) {
  #pct-slider {
    height: calc(100px + 40vw);
    background-position: 25%;
  }
}

#pct-slider .pct-slide-content {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#pct-slider.conthalf .pct-slide-content {
  grid-template-columns: 50%;
}

@media only screen and (max-width: 768px) {
  #pct-slider.conthalf .pct-slide-content {
    grid-template-columns: 1fr;
  }
}

#pct-slider .pct-subheading {
  font-size: calc(1rem + 0.75vw);
  line-height: calc(1.2rem + 0.75vw);
  font-weight: 600;
}

#pct-slider .heading {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: calc(2rem + 1.3vw);
  line-height: calc(2.2rem + 1.3vw);
  font-weight: 600;
  padding: 0.5rem 0;
}

#pct-slider .btn.pctslide {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 0.5rem 1.5rem;
  color: #fff;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
    color: #343434;
    background-color: #fff;
    transform: scale3d(1.2, 1.2, 1);
  }
}

@media only screen and (max-width: 550px) {
  #pct-slider .btn.pctslide {
    font-size: 0.8em;
  }
}
