/*
html:not(.avif) #mkt-header {
  background-image: url("http://localhost/urbacontrol/xen_media/hero-free-img.jpg");
}

html.avif #mkt-header {
  background-image: url("http://localhost/urbacontrol/xen_media/hero-free-img.avif");
}
*/
