/*
#site-header .wcmenucart {
  display: none !important;
}
*/

body.woocommerce-account [class*="navigation-link--downloads"] {
  display: none;
}

body.woocommerce-page .page-header {
  height: auto;
  padding: 2rem 2vw !important;
  background-color: var(--primary-color-darker);
  min-height: unset !important;
}

body.woocommerce-page .page-header h1 {
  margin-bottom: 0 !important;
  font-size: calc(1rem + 2vw);
  line-height: calc(1rem + 2vw);
}

body.woocommerce-page #content-wrap {
  clip-path: none;
  margin-top: 0;
  padding-top: 4.5vw !important;
  padding-bottom: var(--section-padding) !important;
  margin-top: 0 !important;
}

body.woocommerce-page #content-wrap {
  padding-right: 4.5vw !important;
  padding-left: 4.5vw !important;
}

/*------------------------------------------------------------------------------------------------------*
            FICHA DE PRODUCTO
\*------------------------------------------------------------------------------------------------------*/
/** OCULTAMOS HEADER PARA LA FICHA DE PRODUCTO */
body.single-product header.page-header {
  /*display: none;*/
}

body.single-product h1.product_title {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-shadow: var(--def-text-shadow);
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: calc(16px + 2.5vw) !important;
  line-height: calc(24px + 2.5vw) !important;
  padding: 3rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 950px) {
  body.single-product h1.product_title {
    font-size: calc(16px + 2.5vw) !important;
    line-height: calc(24px + 2.5vw) !important;
  }
}

@media only screen and (max-width: 767px) {
  body.single-product h1.product_title {
    font-size: calc(16px + 5.5vw) !important;
    line-height: calc(24px + 5.5vw) !important;
  }

  body.single-product .summary {
    padding-top: 3rem;
  }
}

body.single-product .woocommerce-product-gallery__wrapper img {
  width: 100% !important;
}

body.single-product .woocommerce-product-gallery__trigger {
  display: none !important;
}

body.single-product .summary .price,
body.single-product .summary .price .amount {
  margin-top: 0 !important;
  font-size: 1.5em !important;
  color: var(--cta-color);
  font-weight: 700;
}

body.single-product button,
body.single-product [name*="add-to-cart"] {
  background-color: var(--cta-color);
}

body.single-product button:hover,
body.single-product [name*="add-to-cart"]:hover {
  background-color: #161616;
}

body.single-product button.added {
  display: none;
}

body.single-product form.cart {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

body.single-product .product_meta {
  display: none;
}

/*------------------------------------------------------------------------------------------------------*
            BOTONES
\*------------------------------------------------------------------------------------------------------*/
#woo-popup-wrap .continue-btn {
  background-color: var(--primary-color-darker);
}

#woo-popup-wrap .continue-btn:hover {
  background-color: #161616 !important;
}

/*------------------------------------------------------------------------------------------------------*
            OCEANWP WOO-POPUP FIXINGS
\*------------------------------------------------------------------------------------------------------*/

.woocommerce-Price-amount.amount {
  color: var(--cta-color);
  font-weight: 700;
}

.added_to_cart.wc-forward {
  letter-spacing: inherit;
  margin-left: auto;
  text-align: center;
}

/*------------------------------------------------------------------------------------------------------*
            WOOCOMMERCE ERROR LAYOUTS
\*------------------------------------------------------------------------------------------------------*/

.woocommerce-notices-wrapper .woocommerce-error {
  border-radius: var(--box-border-radius);
  padding: 2rem;
  font-size: 1rem;
  background-color: var(--cta-color);
}

.woocommerce-notices-wrapper .woocommerce-error li {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.woocommerce-notices-wrapper .woocommerce-error li:before {
  display: none;
}

.woocommerce-notices-wrapper .woocommerce-error .button.wc-forward {
  background-color: #fff;
  color: var(--cta-color) !important;
}

.woocommerce-notices-wrapper .woocommerce-error .button.wc-forward:hover {
  background-color: #161616;
  color: #fff !important;
}

/*
.woocommerce table.shop_table,
.woocommerce table.shop_table td {
  border-color: var(--top-bar-color);
}
*/
.woocommerce table.shop_table thead {
  background-color: var(--cta-color-2);
}

.woocommerce .cart-collaterals .cart_totals h2 {
  background-color: var(--primary-color-darker);
}

.woocommerce table.shop_table thead th {
  color: var(--top-bar-color);
}

.woocommerce .cart-collaterals .cart_totals h2 {
  color: #fff;
}

.woocommerce .cart-collaterals .cart_totals h2 {
  padding: 1rem 2rem !important;
}

.woocommerce-cart .wc-proceed-to-checkout {
  display: flex;
  justify-content: flex-end;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: inline-block;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-checkout #place_order:hover {
  background-color: var(--woo-bt-ok-color);
}

.woocommerce-cart-form,
.cart_totals {
  background-color: #fff;
}

body.woocommerce-cart [name="update_cart"] {
  display: none;
}

.cart_totals td[data-title*="otal"] {
  text-align: right;
}

#owp-checkout-timeline .timeline-step {
  border-color: var(--cta-color) !important;
  color: var(--cta-color) !important;
  font-weight: 700 !important;
}

@media only screen and (max-width: 959px) {
  #owp-checkout-timeline [id*="timeline-"] {
    padding: 0 3rem !important;
  }
}

.woocommerce-checkout #place_order {
  width: auto !important;
}

/*------------------------------------------------------------------------------------------------------*
            WOOCOMMERCE MINI CART
\*------------------------------------------------------------------------------------------------------*/

.bag-style:hover .wcmenucart-cart-icon .wcmenucart-count:after {
  border-color: var(--color-dark) !important;
}

.bag-style:hover .wcmenucart-cart-icon .wcmenucart-count {
  background-color: var(--color-dark) !important;
}

.owp-mini-cart {
  background-color: #fff !important;
  overflow: hidden;
}

@media only screen and (min-width: 960px) {
  .owp-mini-cart {
    border-radius: var(--box-border-radius);
  }
}

.owp-mini-cart .woocommerce-mini-cart__buttons a:first-of-type {
  display: none;
}

.owp-mini-cart .woocommerce-mini-cart__buttons a.checkout,
.button.wc-backward {
  text-decoration: none !important;
  width: unset;
}

.owp-mini-cart .woocommerce-mini-cart__buttons a.checkout:hover {
  background-color: var(--woo-bt-ok-color);
}

.owp-mini-cart .remove_from_cart_button {
  font-size: 0 !important;
  line-height: 0 !important;
  width: unset !important;
  height: unset !important;
  border: 0 !important;
  margin-top: unset !important;
}

.owp-mini-cart .remove_from_cart_button:before {
  font-family: var(--fontawesome) !important;
  content: "\f057" !important;
  display: block;
  width: 100%;
  height: 100%;
  color: #ddd;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

.owp-mini-cart .remove_from_cart_button:hover:before {
  color: var(--cta-color);
}

body.woocommerce-account .woocommerce-button {
  min-width: unset;
  margin: 0.5rem;
  padding: 6px 15px !important;
}

body.woocommerce-account .woocommerce-button.pay {
  background-color: var(--cta-color);
}

body.woocommerce-account .woocommerce-button.cancel {
  background-color: #161616;
}

body.woocommerce-page input[type="text"],
body.woocommerce-page input[type="email"],
body.woocommerce-page input[type="password"],
body.woocommerce-page input[type="tel"],
body.woocommerce-page [role="combobox"],
body.woocommerce-page textarea {
  border-radius: 30px !important;
  min-height: 40px !important;
  line-height: 1.8 !important;
  padding: 6px 12px !important;
  background-color: #fff !important;
  border: 1px solid #419c9a80 !important;
}

body.woocommerce-page textarea {
  padding: 15px 20px !important;
}

body.woocommerce-page [role="combobox"] {
  border-radius: 4px !important;
}

body.woocommerce-page input[type="text"]:focus,
body.woocommerce-page input[type="email"]:focus,
body.woocommerce-page input[type="password"]:focus,
body.woocommerce-page input[type="tel"]:focus {
  border: 1px solid #419c9a !important;
}

.woocommerce-checkout #order_review {
  background-color: #fff !important;
  border: 1px solid var(--site-header-color) !important;
  padding: 2rem !important;
  border-radius: var(--box-border-radius);
}

.woocommerce-checkout .paypal-button {
  display: none;
}

/** DISABLE FORM INPUT BORDERS FOR OCEANWP LOGIN POPUP **/
body.woocommerce-page #opl-login-form input[type="text"],
body.woocommerce-page #opl-login-form input[type="email"],
body.woocommerce-page #opl-login-form input[type="password"] {
  border: 0 !important;
}

/*------------------------------------------------------------------------------------------------------*
            DESHABILITAMOS OTROS MEDIOS DE PAGO --> OJO!!! COMENTAR PARA HABILITAR MÁS DE 1 MÉTODO DE PAGO
\*------------------------------------------------------------------------------------------------------*/

.woocommerce-checkout .wc_payment_methods {
  display: none !important;
}

/*------------------------------------------------------------------------------------------------------*
            MY ACCOUNT PAGE
\*------------------------------------------------------------------------------------------------------*/
body.woocommerce-account .woocommerce {
  display: grid;
  grid-template-columns: minmax(320px, 340px) 1fr;
  grid-gap: 2rem;
}

@media only screen and (max-width: 840px) {
  body.woocommerce-account .woocommerce {
    grid-template-columns: 1fr;
  }
}

body.woocommerce-account .woocommerce-MyAccount-tabs {
  padding: 4.5vw;
  border-radius: var(--box-border-radius);
  border: 1px solid #efefef;
}

body.woocommerce-account .woocommerce > div {
  width: 100%;
}

.woocommerce-MyAccount-navigation
  ul
  li[class*="woocommerce-MyAccount-navigation-link--"]
  a:before {
  font-family: var(--fontawesome);
  font-weight: 600;
}

.woocommerce-MyAccount-navigation
  li.woocommerce-MyAccount-navigation-link--dashboard
  a:before {
  content: "\f19d" !important;
}

.woocommerce-MyAccount-navigation
  li.woocommerce-MyAccount-navigation-link--orders
  a:before {
  content: "\f07a" !important;
}

.woocommerce-MyAccount-navigation
  li.woocommerce-MyAccount-navigation-link--edit-address
  a:before {
  content: "\f041" !important;
}

.woocommerce-MyAccount-navigation
  li.woocommerce-MyAccount-navigation-link--edit-account
  a:before {
  content: "\f2bd" !important;
}

.woocommerce-MyAccount-navigation
  li.woocommerce-MyAccount-navigation-link--customer-logout
  a:before {
  content: "\f4fa" !important;
}

.woocommerce-MyAccount-tabs {
  background-color: #fff;
}
