<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #fff;
        }

        .banner-ofertas {
            position: relative;
            background-color: #00ffff;
            padding: 30px;
        }

        .banner-header {
            transform: translate3d(0, -20%, 0);
        }
    </style>
</head>

<body>
    <div class="banner-ofertas">
        <div class="banner-header"><img src="http://localhost/buenpaso/xen_media/oferta_especial-ok-copia.svg" alt="Oferta Especial" /></div>
        <div class="banner-content">
            <ul class="ofertas">
                <li>ENVÍO GRATIS</li>
                <li>DESCUENTOS IRREPETIBLES</li>
            </ul>
            <p>Queremos dar a conocer nuestros exclusivos vinos de autor, D.O. Madrid.</p>
            <p>Por tiempo limitado, además de aplicar grandes descuentos, te enviaremos tu pedido totalmente gratis.
                <strong>¿Te lo vas a perder?</strong></p>
            <figure class="logo">
                <img src="[myPics]logo-bw-buenpaso.png" />
            </figure>
        </div>
    </div>
</body>

</html>